.box {
  width: 100px;          
  height: 100px;
  border-radius: 50%;    
  background:linear-gradient(45deg ,rgb(189, 37, 37),rgb(79, 79, 161));       
  
  transition: background-color 1s ease;
  animation: bounce 4s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(1400px, 0);
  }
  50% {
    transform: translate(1400px, 700px);
  }
  75% {
    transform: translate(0, 700px);
  }
  100% {
    transform: translate(0, 0);
  }
}


body{
    background:grey;
}


*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}